body {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.gamefield {
  max-width: 480px;
  margin: 20px auto;
}
.top-row {
  display: flex;
  justify-content: center;
}
.middle-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
}
.bottom-row {
  display: flex;
  justify-content: center;
}
.gamebutton {
  width: 90px;
  height: 90px;
  border-radius: 400px;
}
.text-center{
  font-size: 48pt;
  width: 100%;
  text-align: center;
}
.small{
  font-size: 16pt;
}

#blue {
  border: 4px solid #4CB5F5;
  margin: 20px;
}
#blue:active {
  background-color: #4CB5F5;
}
#green {
  border: 4px solid #86AC41;
  margin: 20px;
}
#green:active {
  background-color: #86AC41;
}
#red {
  border: 4px solid #FB6542;
  margin: 20px;
}
#red:active {
  background-color: #FB6542;
}
#dark {
  border: 4px solid #FFBB00;
  margin: 20px;
}
#dark:active {
  background-color: #FFBB00;
}

#blue.hover {
  background-color: #08BDBD;
}
#green.hover {
  background-color: #29BF12;
}
#red.hover {
  background-color: #F21B3F;
}
#dark.hover {
  background-color: #FF9914;
}
